
body {
	height: 100%;
	position: relative;
	font-family: 'Raleway', sans-serif;
}
/*NAVBAR*/
.navbar {
	background-color: transparent;
	padding-top: 15px;
	transition: background-color .3s;
}
.navbar.affix {
	background-color: #2d2d2d;
}
.navbar-toggle {
	background-color: #ffffff;
}
.icon-bar {
	background-color: #12d4d1;
}
.nav a:link {
	color: white;
	font-size: 18px;
	line-height: 26px;
	text-shadow: 1px 1px 1px black;
	font-weight: 600;
}
.nav a:visited {
	color: white;
	font-size: 18px;
	text-shadow: 2px 2px 1px black;
}
.nav li a:hover {
	background-color: transparent;
	color:#12d4d1;
}
#myNavbar li.active a {
	color: rgb(18, 212, 209);
}
.navbar-brand {
	padding-top: 0;
}
/*END NAVBAR*/
/*JUMBOTRON*/
.jumbotron {
	background-image: linear-gradient( rgba(0,0,0, 0.1), rgba(0,0,0, 0.1)), url('../images/heroBlur.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin-bottom: 0;
	padding-top: 14em;
	padding-bottom: 25em;
}
h1.animated.slideInLeft {
	animation-delay: .6s;
	color: #ffffff;
	text-shadow: 2px 2px 8px #000000;
	font-weight: 700;
}
h1 span {
	color: #35dad8;
}
/*END JUMBOTRON*/
/*PROFILE TOP HALF*/
.profile-top {
	background-color: #35dad8;
	color: white;
	padding-top: 100px;
	padding-bottom: 165px;
	position:relative;
	z-index: 3;
}
.profile-top h1 {
	color: #333;
	font-weight: 600;
}
h3 {
	line-height: 1.5;
}
/*END PROFILE TOP HALF*/
.profilePicHolder {		
	background-image: url("../images/profilePic1.jpg");
	background-position: 50% 35%;
	background-size: 300px;	
	border-color: white;
	border-style: solid;
	border-radius: 50%;
	border-width: 5px;
	height: 170px;
	position: absolute;
		bottom: -85px;
		left: 50%;
		margin-left: -85px;
	width: 170px;
}
/*PROFILE BOTTOM HALF*/
.profile-bottom {
	background-color: white;
	padding-top: 165px;
	padding-bottom: 100px;
	position: relative;
	z-index:2;
}
.personal-blurb {
	box-sizing: border-box;
}
.personal-blurb i {
	border: 2px solid #35dad8;
	border-radius: 50%;
	color: #35dad8;
	padding: 30px;
}
.icons {
	font-size: 50px;
}
h4 {
	line-height: 1.4;
	padding-top: 15px;
	padding-bottom: 12px;
}
p.text-muted {
	font-size: 16px;
	line-height: 1.6;
	padding-top: 6px;
}
.icon-padding {
	padding-bottom: 20px;
}
/*END PROFILE BOTOM HALF*/
/*SKILLS*/
.progress-bar.progress-bar-success {
	background-color: #35dad8;
	position: relative;
	padding-left: 20px;
}
.progress-bar h5 {
	font-size: 16px;
	line-height: 46px;
	margin: 0;
	position: absolute;
}
.progress {
	background-color: #333;
	border-radius: 0;
	height: 46px;
}
#skills {
	background-color: #EEE;
	padding: 120px 40px 80px 40px;
}
#skills p {
	font-size: 16px;
	line-height: 1.6;
	padding-bottom: 20px;	
}
#skills h1 {
	font-weight: 600;
	margin-top: 0;
}
#skills .container {
	padding-top: 80px;
}
#skills .padding-bottom {
	padding-bottom: 3.5em;
}
.btn-lg{
	background-color: #fb8b18;
	border: none;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 8px;
}
.btn-lg span {
	color: #ffffff;
}
.btn-lg:hover {
	background-color: #35dad8;
}
.btn-lg a:hover {
	text-decoration: none;
}
/*END SKILLS*/
/*PORTFOLIO*/
.boxlight{
	height: 100%;
	width: 100%;
}
.mywork h1 {
	font-weight: 600;
	padding-bottom: 3em;
	text-align: center;		
}
#portfolio{
	padding-bottom: 11em;
	padding-top: 6.5em;
}
#portfolio .col-md-4 {
	padding: 0;
}
/*END PORTFOLIO*/
/*BLOG*/
#blog {
	background-image: url('../images/palms.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 39em;
	width: 100%;
}	
#blog h1 {
	color: #ffffff;
	font-weight: 700;
	font-size: 3.4em;
	padding-top: 4.1em;
	padding-bottom: 1em;
	text-shadow: 2px 2px 8px #000000;
	text-align: center;	
}
.btn.btn-default.btn-lg.blog-btn {
	padding-bottom: 13px;
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 13px;
}
/*END BLOG*/
/*CONTACT FORM*/
#contact {
	background-color: rgba(18,212,209,0.2);
	padding-top: 4em;
	padding-bottom: 5em;
}
#contact h1 {
	font-weight: 600;
	padding-bottom: 1em;
	text-align: center;	
}
.form-control {
	height: 45px;
}
textarea.form-control {
	height: 165px;
}
/*END CONTACT FORM*/
/*MAP*/
#map {
    height:250px;
    width:1000px;
}
.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}
.embed-container {
	height: 0;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 26.25%;
	position: relative;	
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0; 
	width: 100%; 
	height: 100%;
}
.container-fluid .map {
	padding: 0;
}
/*END MAP*/
/*FOOTER*/
#footer {
	padding-top: 1.5em;
	padding-bottom: .6em;
	background-color: #333;
}
#footer p {
	text-align: center;
	color: white;
	font-size: .85em;
}
#footer i {
	color: #69E4E2;
}





















/*MEDIA QUERIES*/
/*medium breakpoint*/
@media only screen and (max-width: 1200px) and (min-width: 992px) {
	.jumbotron {
		background-position: 55% 40%;
		background-size: 1300px;
	}
	.jumbotron h1 {
		font-size: 55px;
	}
}
/*small breakpoint*/
@media (max-width: 992px) and (min-width: 768px) {
	.jumbotron h1 {
		font-size: 50px;
	}
	.jumbotron {
		background-position: 55% 100%;
		background-size: 1250px;
	}
	nav li a {
	line-height: 26px;
		}	
	.no-pad-top {
		padding-top: 0;
	}
	.personal-blurb {
		padding-top: 40px;
	}
	#blog h1 {
		padding-top: 4.0em;
	}
	#portfolio {
		padding-top: 5.7em;
		padding-bottom: 5em;
	}
	#portfolio h1 {
		padding-bottom: 2em;
	}
	.boxlight {
		padding-bottom: 4.5em;
	}
}
/*extra small breakpoint*/
@media (max-width: 768px) {
	div #bs-example-navbar-collapse-1{
		background: #2d2d2d;
	}
	.jumbotron {
		background-position: 75% 100%;
		background-size: 1200px;
		/*padding-bottom: 440px;*/
		padding-top: 10em;
	}
	nav li a {
	line-height: 26px;
	}
	.no-pad-top {
		padding-top: 0;
	}
	.personal-blurb {
		padding-top: 40px;
	}
	#blog {
		background-position: 30% 50%;
	}
	#blog h1 {
		padding-top: 3.4em;
		font-size:3.0em;
	}
	#portfolio {
		padding-top: 5.7em;
		padding-bottom: 5em;
	}
	#portfolio h1 {
		padding-bottom: 2em;
	}
	.boxlight {
		padding-bottom: 4.5em;
	}
}












