
body {

	position: relative;
	height: 100%;
}

/*NAVBAR*/

.navbar{

	padding-top: 15px;
	background-color: transparent;
	transition: background-color .3s;
}
/*Navbar Color when Scrolled*/
.navbar.affix {
	background-color: purple;
}

/*hamburger*/
.navbar-toggle {
	background-color: black;
}

.icon-bar {

	background-color: #0fb5b3;
}

/*nav links*/
.nav a:link {

	font-size: 18px;
	text-shadow: 2px 2px 1px black;
	color: white;
	line-height: 26px;
}

.nav a:visited {

	font-size: 18px;
	text-shadow: 2px 2px 1px black;
	color: white;
}

.nav li a:hover {

	color:red;
	background-color: transparent;
}

.nav li a:active {

	color:red;

}

#myNavbar li.active {
	background: #0fb5b3;
	border-radius: 5px;
}


/*END NAVBAR*/

/*JUMBOTRON*/

.jumbotron {
 	         

	background-image:
        linear-gradient(
                     rgba(0,0,0, 0.2), 
                     rgba(0,0,0, 0.2)),
        url('../images/heroBlur.jpg');
	background-size: cover;
	padding-top: 14em;
	padding-bottom: 25em;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	margin-bottom: 0;
	

}


h1.animated.bounce {

	color: white;
	text-shadow: 2px 0px 10px black;

}

/*PROFILE-TOP*/

.profile-top {

	padding-top: 100px;
	padding-bottom: 165px;
	background-color: purple;
	color: white;
	position:relative;
	z-index: 3;
}

h3 {

	line-height: 1.5;
}

.profilePicHolder {
			
	border-color: white;
	border-style: solid;
	border-width: 5px;
	position: absolute;
		bottom: -85px;
		left: 50%;
		margin-left: -85px;
	width: 170px;
	height: 170px;
	border-radius: 50%;

	background-image: url("../images/profilePic1.jpg");
	background-position: 50% 35%;
	background-size: 300px;

}

/*PROFILE BOTTOM*/

.profile-bottom {

	padding-top: 165px;
	padding-bottom: 100px;
	background-color: white;
	position: relative;
	z-index:2;
}

.personal-blurb {

	box-sizing: border-box;

}

.personal-blurb i {

	color: purple;
	border: 2px solid purple;
	border-radius: 50%;
	padding: 30px;
}


.icons {

	font-size: 50px;
}


h4 {

	line-height: 1.4;
}

p.text-muted {

	line-height: 1.6;
	padding-top: 6px;
	font-size: 16px;
}

.icon-padding {

	padding-bottom: 20px;
}







/*MEDIA QUERIES*/

/*medium breakpoint*/

@media only screen and (max-width: 1200px) and (min-width: 992px) {

	.jumbotron {

		background-position: 55% 40%;
		background-size: 1300px;
	}

}

/*small breakpoint*/
@media (max-width: 992px) and (min-width: 768px) {

	.jumbotron {

		background-position: 55% 100%;
		background-size: 1250px;

	}

	h1.animated.bounce{

		font-size: 53px;
		word-wrap: break-word;
	}

	.personal-blurb {

		padding-top: 40px;
	}

	.no-pad-top {

		padding-top: 0;
	}

	nav li a {

	line-height: 26px;
}
	
}

/*extra small breakpoint*/
@media (max-width: 768px) {

	.jumbotron {

		background-position: 75% 100%;
		background-size: 1200px;
		padding-top: 10em;
		padding-bottom: 440px;
	}

	div #bs-example-navbar-collapse-1{
		

		background: rgba(48,48,48,.93);
	}

	.personal-blurb {

		padding-top: 40px;
	}

	.no-pad-top {

		padding-top: 0;
	}

	nav li a {

	line-height: 26px;
}
}











